.table {
  width: 500px;
  font-size: 34px;
  margin: 0 auto;
  border-collapse: collapse;
}
.head th {
  border: 1px solid black;
}
.body td {
  /* border-collapse: collapse; */
  border: 1px solid black;
}
